/* Cold open */

.cold-open-block {
  margin-top: 0 !important;
}

.cold-open-media > :first-child::after {
  content: '';
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 48px;
  height: 43px;
  background-image: url(./panny-minimap.svg);
}

@media (min-width: 61.1875rem) {
  .cold-open-media > :first-child::after {
    width: 96px;
    height: 86px;
    top: 1.75rem;
    left: 1.75rem;
  }
}

:global(.is-piecemeal).cold-open-block > :global(.Block-content) > * {
  background-color: transparent !important;
  font-size: 1.25rem !important;
  font-weight: bold !important;
  text-align: center;
  text-shadow: 0 0 8px #000, 0 0 4px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
    0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000 !important;
  letter-spacing: 0.03125em;
}

@media (min-width: 61.1875rem) {
  :global(.is-piecemeal).cold-open-block > :global(.Block-content) > * {
    font-size: 1.625rem !important;
  }
}

:global(.is-piecemeal).cold-open-block > :global(.Block-content):nth-child(2) > :first-child {
  margin-top: 30vh !important;
}

.cold-open-header {
  margin-top: 40vh;
  margin-bottom: 0;
  max-width: none;
  min-height: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.cold-open-header > p {
  padding-top: 0;
}

.cold-open-header > p:global(.Header-miscEl) {
  font-size: 1.25rem !important;
}

.cold-open-header > p:not(:global(.Header-miscEl)) {
  font-size: 1rem !important;
}

.cold-open-header > p:global(.Header-byline):not(:last-child) {
  padding-bottom: 0;
}

.cold-open-header > div,
.cold-open-header > :last-child {
  margin-bottom: 0;
}

/* Block media position (seamless double image effect) */

a[name='mediapositionbottom'] + :global(.Block) :global(.Block-media) img {
  object-position: bottom;
}

a[name='mediapositiontop'] + :global(.Block) :global(.Block-media) img {
  object-position: top;
}

/* Mini maps */

.mini-map {
  max-width: 33.33333% !important;
}

@media (max-width: 61.1875rem) {
  .mini-map {
    max-width: 233.333px !important;
  }
}
